<div class="row" style="margin-top: 10px !important;">
  <div class="col s12 m6">
    <div class="card light-blue darken-4">
      <div class="card-content white-text">
        <span class="card-title">Public Stories</span>
        <p>Below Are ALl The Stories, Read Story to view full story</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{#each stories}}
  <div class="col" style="width: 65rem; margin-top: 5px;">
    <div class="card">
      <div class="card-image">
        {{#if user}}
        {{{editIcon user.id ../user.id id}}}
        {{/if}}
      </div>
      <div class="card-content">
        <div class="chip">
          <img src="{{user.image}}">
          <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
        <h5>{{title}}</h5>
        <hr>
        <p class="story-text">
          {{stripTags (truncate body 150)}}
        </p>
      </div>
      <div class="card-action ">
        <a class="btn grey" href="/stories/show/{{id}}">Read Story</a>
      </div>
    </div>
  </div>

  {{else}}
  <p>No stories found</p>
  {{/each}}
</div>