<h1>Stories</h1>
<div class="row">
  {{#each stories}}
  <div class="col s8 m12">
    <div class="card" style="background: #3498db;">
      <div class="card-image">
        {{#if user}}
        {{{editIcon user.id ../user.id id}}}
        {{/if}}
      </div>
      <div class="card-content center-align white-text">
        <h5>{{title}}</h5>
        <div class="chip">
          <img src="{{user.image}}">
          <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
      </div>
      <div class="card-action center-align">
        <a class="btn grey" href="/stories/show/{{id}}">Read Story</a>
      </div>
    </div>
  </div>
  {{!-- <div class="col s4 m4">
    <div class="card" style="background: #3498db;">
      <div class="card-image">
        {{#if user}} {{{editIcon user.id ../user.id id}}} {{/if}}
      </div>
      <div class="card-content center-align white-text">

        <div class="chip">
          <img src="{{user.image}}">
          <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
      </div>
      <div class="card-action center-align">
        <a class="btn grey" href="/stories/show/{{id}}">Read Story</a>
      </div>
    </div>
  </div> --}}
  {{else}}
  <p>No stories found</p>
  {{/each}}
</div>